html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow: scroll;
	overflow-x: hidden;

	*{
		outline: 0 !important;
		user-select: none;
	}

	body{
		padding-top: 65px;
		margin-bottom: 10px;

		h1, h2{
			margin-top: 0;
		}

		pre *{
			user-select: initial;
		}

		table {
			margin-bottom: 0 !important;
		}
	}
}
